<!DOCTYPE html>
<html>
  <head>
    <title>Manifestation App</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <h1>Welcome to the Manifestation App!</h1>
    <form action="/create_goal" method="post">
      <label for="goal">Enter your goal:</label><br>
      <input type="text" id="goal" name="goal"><br>
      <label for="duration">How long will it take to complete?</label><br>
      <input type="number" id="duration" name="duration" min="1" max="365"><br>
      <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/edit_goal">Edit Goal</a><br>
    <a href="/delete_goal">Delete Goal</a>
  </body>
</html>
